body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.rightSide {
  margin-left: 200px;
}

.leftTitleEz {
  position: absolute;
  left: 50px;
  top: -8px;
  color: #2096f3;
}

.versionEz {
  position: absolute;
  left: 90px;
  top: 15px;
  color: red;
}

.code {
  // padding: 5px;
  background: #c2dfff;
}
